* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

body{
    background-color: #D2E7CB;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    font-family: TESLA, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    color: #1F7522;
    padding: 1rem;
    margin: 2rem 0;
    background: #AFD59F;
}

.heading span{
    font-family: TESLA, Helvetica, sans-serif;
    color: #EA8D10;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #1F7522;
    color: #fff;
    padding: 1rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: #EA8D10;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1F7522;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header.logo {
    font-size: 3rem;
    color: #111111;
    font-weight: bolder;
}

header .menu a{
    font-family: Bahnschrift, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 0 1.5rem;
    position: relative;
    color: #8FE58F;
}

header .menu a:hover{
    color: #ED9807;
    border-bottom: 3px solid #ED9807;
}

.dropbtn {
    font-family: Bahnschrift, Helvetica, sans-serif;
    background-color: #1F7522;
    color: #8FE58F;
    padding: 16px;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1F7522;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1F7522;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

header .icons a{
    font-size: 2rem;
    color: #8FE58F;
    margin-left: 1.5rem;
}
header #bar{
    display: none;
}
header .icons a:hover{
    color: #ED9807;
}

header .fa-bars{
    font-size: 3rem;
    color: #111111;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0, .3);
    display: none;
}
#logo img {
    width: 74px;
    height: auto;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url('AAAABQ3GmDJXKwxVjio-dlYzdh31UfZ9F0L77TGLjpVO7ItPO2YJHmMdPGzRtkBBaIf28VrglhkEyJHqBwyloUaTgUuDeY6PjYh7oous.jpg');
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 150em;
    text-align: center;
    background-color: rgba(175,213,159, 0.8);
    padding: 20px 5%;
}

.home .content h3{
    font-family: TESLA, Helvetica, sans-serif;
    font-size: 6rem;
    color: #1F7522;
}

.home .content p{
    font-size: 1.5rem;
    color: #111111;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content span{
    font-size: 3rem;
    color: #C6790C;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap:wrap;
    padding: 3rem 0;
    padding-bottom: 3rem;
}

.about .row .img img{
    position: relative;
    float: right;
    width: 100%;
    height: auto;
}

.about .row .content{
    flex: 1 1 20px;
    max-width: 500px;
    padding: 0 1rem;
    box-sizing: border-box;
}

.about .row .content h3{
    font-family: Bahnschrift, Helvetica, sans-serif;
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5em;
    color: #111111;
    padding: .5em 0;
    padding-top: 1em;
    line-height: 1.5;
}

.about .row .content p.bold{
    color: #111111;
}

table {
    width: 1090px;
}
th, td {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
th {
    font-family: Bahnschrift, Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 0.1em;
    font-size: 200%;
    border-bottom: 2px solid #111111;
    border-top: 3px solid #999;
    text-align: left;
}

tr.even {
    background-color: #efefef;
}
tr:hover {
    background-color: #EBA947;
}
ol {
    font-size: 18px;
    list-style-type: square;
}

li {
    font-size: 16px;
    color: #666;
    margin: 10px;
}

.characters .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.characters .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .1);
    -moz-box-shadow: 0 0 10px #E2DFDF;
    -webkit-box-shadow: 0 0 10px #E2DFDF;
    border-radius: .5rem;
    position: relative;
}

.characters .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.characters .box-container .box .image img{
    height: 25rem;
}

.characters .box-container .box:hover .image img{
    transform: scale(1.1);
}

.characters .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0; right:0;
    display: flex;
}

.characters .box-container .box:hover .image .icons{
    bottom: 0;
}

.characters .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 120%;
    background: #ED9807;
    color: #fff;
}

.characters .box-container .box .image .icons a:hover{
    background: #1F7522;
}

.characters .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.characters .box-container .box .content h3{
    font-family: Bahnschrift, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #333;
}

.characters .box-container .box .content .position{
    font-family: Bahnschrift, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #ED9807;
    font-weight: bolder;
    padding-top: 1rem;
}

.statistics .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.statistics .box-container .box{
    display: flex;
    align-items: center;
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 10px #E2DFDF;
    -webkit-box-shadow: 0 0 10px #E2DFDF;
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.statistics .box-container .box img{
    max-width: 50%;
    margin-right: 8rem;
    position: relative;
}

.statistics .box-container .box li{
    color: #111111;
}
.statistics .box-container .box li span{
    color: #1F7522;
}

.footer .box-container{
    margin-top: 150px;
    width: 100%;
    background: #D2E7CB;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    font-family: Bahnschrift, Helvetica, sans-serif;
    color: #111111;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color:#ED9807;
    text-decoration: underline;
}

.footer .box-container .box img{
    margin-top: 1rem;
    width: 50%;
}

.footer .newsletter{
    font-family: Bahnschrift, Helvetica, sans-serif;
    color: #111111;
    font-size: 2.5rem;
    padding: 1rem 0;
    flex-grow: 2;
}

.footer form input{
    width: 400px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.footer form button{
    background: #1F7522;
    color: #efefef;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.footer form button:hover{
     background: #EA8D10;
 }

.footer .credit{
    font-family: Bahnschrift, Helvetica, sans-serif;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #111111;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    font-family: Bahnschrift, Helvetica, sans-serif;
    color: #ED9807;
}


